<html>
    <header>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </header>
    <body>
        <div id="app">
            <h1 v-if="ok">Mọi việc ổn cả</h1>
            <h1 v-if="nook">Mọi việc không ổn</h1>
            <hr>
            <h1 v-if="ok">Mọi việc ổn cả</h1>
            <h1 v-else>Có gì đó sai sai</h1>
            <hr>

        </div>
        <script>
            var vm = new Vue({
                el:"#app",
                data:{
                    ok: true,
                    'nook':false
                }
            })
        </script>
    </body>

</html>